In [2]:
item1_price,item1_qty=50,2
item2_price,item2_qty=30,5
item3_price,item3_qty=20,3
total1 = item1_price * item1_qty
total2 = item2_price * item2_qty
total3 = item3_price * item3_qty
total = total1 + total2 + total3
print(f"Total Bill = ({item1_price}*{item1_qty}) + ({item2_price}*{item2_qty}) + ({item3_price}*{item3_qty}) "
      f"= {total1} + {total2} + {total3} = {total}")

Total Bill = (50*2) + (30*5) + (20*3) = 100 + 150 + 60 = 310

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number: "))

print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)
print("Modulus =", a % b)

Addition = 19
Subtraction = 11
Multiplication = 60
Division = 3.75
Modulus = 3

In [5]:
marks = int(input("Enter marks: "))

if marks >= 90:
    grade = "A+ (Excellent)"
elif marks >= 80:
    grade = "A (Excellent)"
elif marks >= 70:
    grade = "B (Good)"
elif marks >= 60:
    grade = "C (Average)"
else:
    grade = "Fail"

print("Grade:", grade)

Grade: A (Excellent)

In [6]:
marks = list(map(int, input("Enter marks separated by spaces: ").split()))

highest = max(marks)
lowest = min(marks)
average = sum(marks) / len(marks)

print("Highest Marks =", highest)
print("Lowest Marks =", lowest)
print("Average Marks =", average)

Highest Marks = 90
Lowest Marks = 45
Average Marks = 71.4

In [7]:
phonebook = {"Suhel": 9876543210, "Ravi": 9123456780, "Anita": 9988776655}

name = input("Enter name to search: ")

if name in phonebook:
    print("Phone Number of", name + ":", phonebook[name])
else:
    print("Name not found in phonebook")

Phone Number of Ravi: 9123456780